.btnContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  position: relative;
  padding: 10px 20px;
  background-color: var(--btn-bg);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -2px rgba(0, 0, 0, 0.1),
    0 0 10px 2px rgba(252, 125, 188, 0.7); /* Initial glow */
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 6px 10px -1px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.2),
    0 0 15px 4px rgba(212, 175, 55, 0.7); /* Enhanced glow on hover */
}

.btn:active {
  transform: translateY(1px) scale(0.96);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  top: 0%;
  transform: translateY(100%);
  left: 0;
  transition: transform 0.2s ease;

  height: 100%;
  width: 100%;
  background-color: var(--btn-overlay);
  z-index: 1;
}

.btn:hover .overlay {
  transform: translateY(0);
}

.textContainer {
  z-index: 2;
  color: var(--btn-txt-color);
  position: relative;
  transition: color 0.2s ease;
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

.btn:hover .textContainer {
  color: var(--btn-txt-hover);
  transform: translateY(-2px);
}

.btn:active .textContainer {
  transform: translateY(1px);
}
